.list {
  width: 100%;
  margin-top: 10px;

  .listTitle {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left: 50px;
  }

  // #width: max-content; #will retain the same size inside flex*/
  .wrapper {
    position: relative;

    .sliderArrow {
      width: 50px;
      height: 100%;
      background-color: rgba(22, 22, 22, 0.5);
      position: absolute;
      cursor: pointer;
      top: 0;
      bottom: 0;
      margin: auto;

      &.left {
        left: 0;
        z-index: 1;
      }
      &.right {
        right: 0;
        z-index: 1;
      }
    }
    .container {
      margin-top: 10px;
      margin-left: 50px;
      display: flex;
      width: max-content;
      transform: translateX(0px);
      transition: all 1s ease;
    }
  }
}
